/* For information on how to create your own theme, please see:
http://ionicframework.com/docs/theming/ */

:root {
  --ion-color-primary: theme('colors.primary');
}

.dark,
[data-theme='dark'] {
  --ion-color-primary: theme('colors.primary');
}
