@use './ionic-var.scss';
@use './var.scss';
@use './var-class.scss';
ion-content::part(scroll),
* {
  overscroll-behavior: none;
}

.icon {
  width: 1em;
  height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}

ion-footer {
  .title-default {
    font-size: 0.75rem;
  }
}

::selection {
  color: initial;
  background-color: #4c3e11;
}

[contenteditable] {
  caret-color: var(--primary);
}
